<!doctype html>
<html>
  <head>
    <title>Mint Jr.</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/js/jquery-3.1.1.js"></script>
    <script src="/js/scripts.js"></script>
  </head>
  <header>
    <% if session[:message] %>
      <h4 class="message"><%= session.delete(:message) %></h4>
    <% end %>
    <%= yield_content :header_links %>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
    <%= yield_content :footer_signout %>
  </footer>
</html>
