<!doctype html>
<html>
<head>
  <title>Mint Jr.</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<header>
  <%= yield_content :header_links %>
  <h5 class="logo">Mint JR.</h5>
</header>
<body>
  <%= yield %>
</body>
</html>
